<!DOCTYPE html>
<html>
<head>
	<title>Project Manager</title>
	<link rel="stylesheet" type="text/css" href="../style/mngmt.css">
</head>
<body>
	<div id="title+menu">
		<h1 id="ProjNamm"></h1>
		<div class="navbar">
			<button type="button" onclick="showO()">Project Overview</button>
			<button type="button" onclick="showF()">Filters</button>
		</div>
	</div>
	<div class="mainbody" id="overview">
		<div id="myModal" class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <form>
		    	Sprint Name:<br>
		    	<input id="addsprint" type="text">
		    	<button type="button" class="butt" id="addpls">Add</button>
		    </form>
		  </div>
		</div>
		<div id="addSprintButton">
			<button class="butt" type="button" id="show-create" onclick="showCreateSprint()">New Sprint</button>
			<div id="altModal" class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <form>
		    	<br><p>Name:</p><br>
		    	<input type="text" id="issuename">
		    	<br><p>Type:</p><br>
		    	<select id="issuetype">
		    		<option><p>Feature</p></option>
		    		<option><p>Bug</p></option>
		    		<option><p>Task</p></option>
		    	</select>
		    	<br><p>Assignee: (Example Loki, Freya, MrSandman)</p><br>
		    	<div class="autocomplete">
		    	<input type="text" id="assignee" placeholder="Enter an existent user name"></div>
		    	<br><p>Description:</p><br>
		    	<input type="text" id="issuedesc">
		    	<br><p>Comments:</p><br>
		    	<input type="text" name="commentz" id="issuecom">
		    	<button type="button" class="butt" id="issueadd">Add</button>
		    </form>
		  </div>
		</div>
		<div id="modalUP" class="modal">
		  <!-- Modal content -->
		  <div id ="curr_i" class="modal-content">
		    <span class="close">&times;</span>
		    <form>
		    	<br><p>Name:</p><br>
		    	<input type="text" id="u_issuename">
		    	<br><p>Type:</p><br>
		    	<select id="u_issuetype">
		    		<option><p>Feature</p></option>
		    		<option><p>Bug</p></option>
		    		<option><p>Task</p></option>
		    	</select>
		    	<br><p>Assignee:</p><br>
		    	<div class="autocomplete">
		    	<input type="text" id="u_assignee" placeholder="Enter an existent user name"></div>
		    	<br><p>Description:</p><br>
		    	<input type="text" id="u_issuedesc">
		    	<br><p>Comments:</p><br>
		    	<input type="text" name="commentz" id="u_issuecom">
		    	<button type="button" class="butt" id="u_updateissue">Update</button>
		    </form>
		  </div>
		</div>
		</div>
		<div id="LatestSprint">
			<h2 id="curr-s">Current Sprint: </h2>
			<button class="butt" id="savebtn" onclick="SaveButton()" type="button">Add Issue</button>
		<div id="tableiss">
			<p>No Issues Yet!</p>
		</div>
		</div>
		<br>
		<div id="PreviousSprints">
			<button class="butt" id="prev" type="button" onclick="sendToPreviousSprints()">See Previous Sprints</button>
		</div>
		<div id="NextSprints">
			<button class="butt" id="prev" type="button" onclick="sendToNextSprints()">See Next Sprints</button>
		</div>
	</div>
	<div id="filter">
		<div class="autocomplete">
		<br><br>You can either filter out by Status, by just typing it in the textbox. You can filter the sprints by name in the Overview section.
		<br>
		<input type="text" id="filtername">
		</div>
		<br>
		<br>
		<button type="button" class="butt" id="filtbutt" onclick="findelemnts()">Submit filter</button>
		<div id="showfilters">
			
		</div>
	</div>
</body>
<script type="text/javascript" src="../utils/utils.js"></script>
</html>
